$rosso : #e65959;
$giallo: #FFC60B;
$verde: #36c293;
$nero: #2C2C2C;
$bianco: #fff;
$azzurro: #21AFDF;

/* ROSSO */
.pith .score .team .color.rosso{
	border-color: $rosso;
}
.tools-r.rosso .button , .tools-l.rosso .button{
	border-color: $rosso;
}

.circle .content .team .color.rosso{
	border-color: $rosso;
}

.event .icon .color.rosso {
	background-color: $rosso;
}
.picker.rosso {
	background-color: $rosso;
}


/* GIALLO */
.pith .score .team .color.giallo{
	border-color: $giallo;
}
.tools-r.giallo .button , .tools-l.giallo .button{
	border-color: $giallo;
}
.circle .content .team .color.giallo{
	border-color: $giallo;
}

.event .icon .color.giallo {
	background-color: $giallo;
}
.picker.giallo {
	background-color: $giallo;
}

/* VERDE */
.pith .score .team .color.verde{
	border-color: $verde;
}
.tools-r.verde .button , .tools-l.verde .button{
	border-color: $verde;
}
.circle .content .team .color.verde{
	border-color: $verde;
}

.event .icon .color.verde {
	background-color: $verde;
}
.picker.verde {
	background-color: $verde;
}


/* BIANCO */
.pith .score .team .color.bianco{
	border-color: $bianco;
}
.tools-r.bianco .button , .tools-l.bianco .button{
	border-color:$bianco ;
}

.circle .content .team .color.bianco{
	border-color: $bianco;
}

.event .icon .color.bianco {
	background-color: $bianco;
}
.picker.bianco {
	background-color: $bianco;
}


/* NERO */
.pith .score .team .color.nero{
	border-color: $nero;
}
.tools-r.nero .button , .tools-l.nero .button{
	border-color: $nero;
}

.circle .content .team .color.nero{
	border-color: $nero;
}

.event .icon .color.nero {
	background-color: $nero;
}

.picker.nero {
	background-color: $nero;
}

/* AZZURRO */

.pith .score .team .color.azzurro{
	border-color: $azzurro;
}


.tools-r.azzurro .button , .tools-l.azzurro .button{
	border-color:$azzurro ;
}

.circle .content .team .color.azzurro{
	border-color: $azzurro;
}

.event .icon .color.azzurro {
	background-color: $azzurro;
}

.picker.azzurro {
	background-color: $azzurro;
}

