/* ROSSO */
.pith .score .team .color.rosso {
  border-color: #e65959; }

.tools-r.rosso .button, .tools-l.rosso .button {
  border-color: #e65959; }

.circle .content .team .color.rosso {
  border-color: #e65959; }

.event .icon .color.rosso {
  background-color: #e65959; }

.picker.rosso {
  background-color: #e65959; }

/* GIALLO */
.pith .score .team .color.giallo {
  border-color: #ffc60b; }

.tools-r.giallo .button, .tools-l.giallo .button {
  border-color: #ffc60b; }

.circle .content .team .color.giallo {
  border-color: #ffc60b; }

.event .icon .color.giallo {
  background-color: #ffc60b; }

.picker.giallo {
  background-color: #ffc60b; }

/* VERDE */
.pith .score .team .color.verde {
  border-color: #36c293; }

.tools-r.verde .button, .tools-l.verde .button {
  border-color: #36c293; }

.circle .content .team .color.verde {
  border-color: #36c293; }

.event .icon .color.verde {
  background-color: #36c293; }

.picker.verde {
  background-color: #36c293; }

/* BIANCO */
.pith .score .team .color.bianco {
  border-color: white; }

.tools-r.bianco .button, .tools-l.bianco .button {
  border-color: white; }

.circle .content .team .color.bianco {
  border-color: white; }

.event .icon .color.bianco {
  background-color: white; }

.picker.bianco {
  background-color: white; }

/* NERO */
.pith .score .team .color.nero {
  border-color: #2c2c2c; }

.tools-r.nero .button, .tools-l.nero .button {
  border-color: #2c2c2c; }

.circle .content .team .color.nero {
  border-color: #2c2c2c; }

.event .icon .color.nero {
  background-color: #2c2c2c; }

.picker.nero {
  background-color: #2c2c2c; }

/* AZZURRO */
.pith .score .team .color.azzurro {
  border-color: #21afdf; }

.tools-r.azzurro .button, .tools-l.azzurro .button {
  border-color: #21afdf; }

.circle .content .team .color.azzurro {
  border-color: #21afdf; }

.event .icon .color.azzurro {
  background-color: #21afdf; }

.picker.azzurro {
  background-color: #21afdf; }
