/* ROSSO */
.pith .score .team .color.rosso {
  border-color: red; }

.tools-r.rosso .button, .tools-l.rosso .button {
  border-color: red; }

.circle .content .team .color.rosso {
  border-color: red; }

.event .icon .color.rosso {
  background-color: red; }

/* GIALLO */
.pith .score .team .color.giallo {
  border-color: yellow; }

.tools-r.giallo .button, .tools-l.giallo .button {
  border-color: yellow; }

.circle .content .team .color.giallo {
  border-color: yellow; }

.event .icon .color.giallo {
  background-color: yellow; }

/* VERDE */
.pith .score .team .color.verde {
  border-color: green; }

.tools-r.verde .button, .tools-l.verde .button {
  border-color: green; }

.circle .content .team .color.verde {
  border-color: green; }

.event .icon .color.verde {
  background-color: green; }

/* BIANCO */
.pith .score .team .color.bianco {
  border-color: white; }

.tools-r.bianco .button, .tools-l.bianco .button {
  border-color: white; }

.circle .content .team .color.bianco {
  border-color: white; }

.event .icon .color.bianco {
  background-color: white; }

/* NERO */
.pith .score .team .color.nero {
  border-color: black; }

.tools-r.nero .button, .tools-l.nero .button {
  border-color: black; }

.circle .content .team .color.nero {
  border-color: black; }

.event .icon .color.nero {
  background-color: black; }

/* AZZURRO */
.pith .score .team .color.azzurro {
  border-color: cyan; }

.tools-r.azzurro .button, .tools-l.azzurro .button {
  border-color: cyan; }

.circle .content .team .color.azzurro {
  border-color: cyan; }

.event .icon .color.azzurro {
  background-color: cyan; }
