<div class="content">
    <div>
        <div>Rodomonti</div>
    </div>

    <div class="teams">
        <div class="team">
            <div class="color"></div>
            <div class="name">Rosetana</div>
        </div>
        <div>-</div>
        <div class="team">
            <div class="color"></div>
            <div class="name">Hatria</div>
        </div>
    </div>

    <div>
        <div>23 Settembre 2014 ore 15:00</div>
    </div>

    <div>
        <div>Stadio</div>
    </div>

</div>

<div class="button email" >
    <img src="img/email.png">
    <div>invia</div>

</div>

<div class="button delete" >
    <img src="img/delete.png">
    <div>cancella</div>

</div>
<div class="button open" >
    <img src="img/open.png">
    <div>apri</div>
</div>