<div class="content">
    <div>
        <div>{{arbitro}}</div>
    </div>

    <div class="teams">
        <div class="team">
            <div class="color {{coloreLocali}}"></div>
            <div class="name">{{locali}}</div>
        </div>
        <div>-</div>
        <div class="team">
            <div class="color {{coloreOspiti}}"></div>
            <div class="name">{{ospiti}}</div>
        </div>
    </div>

    <div>
        <div>{{giorno}} {{mese}} {{anno}} ore {{orario}}</div>
    </div>

    <div>
        <div>{{stadio}}</div>
    </div>

</div>

<div class="button email" >
    <img src="img/email.png">
    <div>invia</div>

</div>

<div class="button delete" >
    <img src="img/delete.png">
    <div>cancella</div>

</div>
<div class="button open" >
    <img src="img/open.png">
    <div>apri</div>
</div>