<div class="score">
    <div class="team">
        <div class="color {{coloreLocali}}"></div>
        <div class="name">
            <div id='locali'>{{locali}}</div>
        </div>
    </div>

    <div>
        <div><span id='golLocali'>{{golLocali}}</span> - <span id='golOspiti'>{{golOspiti}}</span></div>
    </div>

    <div class="team">
        <div class="color {{coloreOspiti}}"></div>
        <div class="name">
            <div id='ospiti' >{{ospiti}}</div>
        </div>
    </div>
</div>


<div class="start"></div>
<div class="timer" id='timer'>

    <div class="left">

        <div id='pausa' class="button highlight">

            <div  class="icon" id='label_pausa'>stop</div>

        </div>

    </div>

    <div class="time">

        <div ><span id='min'>{{min}}</span>' <span id='tempo'>{{tempo}}</span>t</div>

    </div>

    <div class="right">

        <div id='controller' class="button highlight">
            <div class="icon" id='label_controller'>
                Inizio 1t
            </div>
        </div>

    </div>

</div>

<div class="tools-c">

    <div>
        <div class="button highlight" id="aa1v">
            <div class="icon">
                <img src="img/esatta.png" />
            </div>
        </div>
        <span>AA1</span>
        <div class="button highlight" id="aa1x">
            <div class="icon">
                <img src="img/errata.png" />
            </div>
        </div>

    </div>

    <div>

        <div class="button highlight" id="aa2v">
            <div class="icon ">
                <img src="img/esatta.png" />
            </div>
        </div>
        <span>AA2</span>
        <div class="button highlight" id="aa2x">
            <div class="icon">
                <img src="img/errata.png" />
            </div>
        </div>

    </div>

    <div>

        <span>BARELLA</span>
        <div class="button highlight" id="barella">
            <div class="icon">
                <span class="red">+</span>
            </div>
        </div>

    </div>

</div>