<div class="score">

    <div class="team">

        <div class="color"></div>
        <div class="name">

            <div>Squadra</div>

        </div>


    </div>

    <div>
        <div>1 - 1</div>
    </div>

    <div class="team">

        <div class="color"></div>

        <div class="name">

            <div>Squadra</div>

        </div>

    </div>

</div>

<div class="timer">

    <div class="left">

        <div class="button">

            <div class="icon">stop</div>

        </div>

    </div>

    <div class="time">

        <div>15' 1t</div>

    </div>

    <div class="right">

        <div class="button">
            <div class="icon">fine 1t</div>
        </div>

    </div>

</div>

<div class="tools-c">

    <div>
        <div class="button">
            <div class="icon">
                <img src="img/esatta.png" />
            </div>
        </div>
        <span>AA1</span>
        <div class="button">
            <div class="icon">
                <img src="img/errata2.png" />
            </div>
        </div>

    </div>

    <div>

        <div class="button">
            <div class="icon">
                <img src="img/esatta.png" />
            </div>
        </div>
        <span>AA2</span>
        <div class="button">
            <div class="icon">
                <img src="img/errata2.png" />
            </div>
        </div>

    </div>

    <div>

        <span>BARELLA</span>
        <div class="button">
            <div class="icon">
                <span class="red">+</span>
            </div>
        </div>

    </div>

</div>