<div class="score">

    <div class="team">

        <div class="color {{coloreLocali}}"></div>
        <div class="name">

            <div>{{locali}}</div>

        </div>


    </div>

    <div>
        <div><span id='golLocali'>{{golLocali}}</span> - <span id='golOspiti'>{{golOspiti}}</span></div>
    </div>

    <div class="team">

        <div class="color {{coloreOspiti}}"></div>

        <div class="name">

            <div>{{ospiti}}</div>

        </div>

    </div>

</div>

<div class="timer">

    <div class="left">

        <div class="button highlight">

            <div class="icon">stop</div>

        </div>

    </div>

    <div class="time">

        <div>15' 1t</div>

    </div>

    <div class="right">

        <div class="button highlight">
            <div class="icon">fine 1t</div>
        </div>

    </div>

</div>

<div class="tools-c">

    <div>
        <div class="button highlight" id="aa1v">
            <div class="icon">
                <img src="img/esatta.png" />
            </div>
        </div>
        <span>AA1</span>
        <div class="button highlight" id="aa1x">
            <div class="icon">
                <img src="img/errata2.png" />
            </div>
        </div>

    </div>

    <div>

        <div class="button highlight" id="aa2v">
            <div class="icon ">
                <img src="img/esatta.png" />
            </div>
        </div>
        <span>AA2</span>
        <div class="button highlight" id="aa2x">
            <div class="icon">
                <img src="img/errata2.png" />
            </div>
        </div>

    </div>

    <div>

        <span>BARELLA</span>
        <div class="button highlight" id="barella">
            <div class="icon">
                <span class="red">+</span>
            </div>
        </div>

    </div>

</div>