                            <!--INIZIO CAMPO INCREMENTA DECREMENTA FALLI-->
                                <div class="spaces-foul"></div>
                                <div class="Res-Fal-PM">
                                    <div class="dec-fal"></div>
                                    <div class="total-fal">
                                        <span id="totale-falli"></span>
                                    </div>
                                    <div class="inc-fal"></div>
                                </div>
                                <div class="spaces-foul"></div>
                            <!--INIZIO CAMPO INCREMENTA DECREMENTA FALLI-->