<span id='close'>x</span>
<fieldset>
    <input id='locali' value="{{locali}}">
    <input id='arbitro' value='{{arbitro}}'>
    <input id='aa1' value='{{aa1}}'>
    <input id='aa2' value='{{aa2}}'>
    <input id='stadio' value='{{stadio}}'>

</fieldset>
<fieldset>
    <input id='ospiti' value="{{ospiti}}">
    <input id='sezioneArbitro' value="{{sezioneArbitro}}">
    <input id='sezioneAa1' value='{{sezioneAa1}}'>
    <input id='sezioneAa2' value='{{sezioneAa2}}'>
    <input id='categoria' value='{{categoria}}'>

</fieldset>