<div class="tool">
    <div class="button espulsione"  >
        <div class="icon">
            <div class="redcard"></div>
        </div>
    </div>
</div>

<div class="tool">
    <div class="button ammonizione">
        <div class="icon">

            <div class="yellowcard"></div>
        </div>
    </div>
</div>

<div class="tool">
    <div class="button sostituzione">
        <div class="icon">
            <img src="img/sostituzioni.png" />
        </div>
    </div>
</div>


<div class="tool">
    <div class="button gol">
        <div class="icon">gol</div>
    </div>
</div>

<div class="tool">
    <div class="button fallo">
        <div class="icon">
            fallo
            <span class="red">+</span>
        </div>
    </div>
</div>