<div class="tool">
    <div class="button espulsione highlight"  >
        <div class="icon">
            <div class="redcard"></div>
        </div>
    </div>
</div>

<div class="tool">
    <div class="button ammonizione highlight">
        <div class="icon">

            <div class="yellowcard"></div>
        </div>
    </div>
</div>

<div class="tool">
    <div class="button sostituzione highlight">
        <div class="icon">
            <img src="img/sostituzioni.png" />
        </div>
    </div>
</div>


<div class="tool">
    <div class="button gol highlight">
        <div class="icon">gol</div>
    </div>
</div>

<div class="tool">
    <div class="button fallo highlight">
        <div class="icon">
            fallo
            <span class="red">+</span>
        </div>
    </div>
</div>