<!-- Start creazione  -->
                        <div class="EpBodyTop">
                            <div class="wrapper borded">
                                <div class="layer-1 borded">
                                    <div class="layer-1-left borded">
                                        <div class="column-b borded"></div>
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                <div class="griglia-1"></div>
                                                <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label" >Locali</label></div>
                                                </div>
                                                <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                        <div class="griglia-1 form-field"><label class=" form-label" >Categoria</label></div>
                                                    </div>
                                                <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                        <div class="griglia-1 form-field"><label class=" form-label" >Giorno</label></div>
                                                    </div>
                                                <div class="griglia-1"></div>
                                                </div>                                        
                                            </div>

                                            <div class="content borded">

                                                <div class="field borded field-logo">
                                                    <div class="name input"><input id="locali" class="teamName formTextInput" placeholder="Locali" type="text"></div>
                                                    <div id="coloreLocali" class="logo borded">
                                                        <div id="codColoreLocali" class="picker rosso">
                                                            <span id="colorpicker1" class="colorpicker hidden">
                                                                <!-- <span id="bgbox1" class="bgbox" style=""></span>
                                                                <span id="hexbox1" class="hexbox">None</span>
                                                                <span class="clear"></span> -->
                                                                <span id="colorbox1"class="colorbox 1">
                                                                    <b id="col11" title="Rosso"class="picker rosso"></b>
                                                                    <b id="col12" title="Giallo" class="picker giallo"></b>
                                                                    <b id="col13" title="Verde" class="picker verde"></b>
                                                                    <b id="col14" title="Bianco" class="picker bianco"></b>
                                                                    <b id="col15" title="Nero" class="picker nero"></b>  
                                                                    <b id="col15" title="Azzurro" class="picker azzurro"></b>     
                                                                </span>    
                                                            </span>        
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="field borded">
                                                    <div class="input"><input id="categoria" class=" formTextInput" placeholder="Categoria" type="text" ></div>
                                                </div>

                                                <div class="field borded">
                                                        <!-- Date Selector -->
															<div class="input"><input id="data" name="matchDate" class="datepicker matchDateOre formTextInput" placeholder="Inserisci Data" type="text" ></div>
                                                        <!-- Date Selector -->
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="layer-1-right borded">
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Ospiti</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Stadio</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1"></div>
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Ore</label></div>
                                                            <div class="griglia-1"></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>                                        
                                            </div>
                                            <div class="content borded">
                                                <div class="field borded field-logo">
                                                    <div class="name input"><input id="ospiti" class="teamName formTextInput" placeholder="Ospiti" type="text" ></div>
                                                    <div id="coloreOspiti" class="logo borded">
                                                        <div id="codColoreOspiti" class="picker azzurro">
                                                            <span id="colorpicker2" class="colorpicker hidden">
                                                                <!-- <span id="bgbox2" class="bgbox" style=""></span>
                                                                <span id="hexbox2" class="hexbox">None</span>
                                                                <span class="clear"></span> -->
                                                                <span id="colorbox2"class="colorbox 2">
                                                                    <b id="col21" title="Rosso"class="picker rosso"></b>
                                                                    <b id="col22" title="Giallo" class="picker giallo"></b>
                                                                    <b id="col23" title="Verde" class="picker verde"></b>
                                                                    <b id="col24" title="Bianco" class="picker bianco"></b>
                                                                    <b id="col25" title="Nero" class="picker nero"></b>  
                                                                    <b id="col25" title="Azzurro" class="picker azzurro"></b>  
                                                                </span>    
                                                            </span>
                                                        </div>
                                                    </div> 
                                                </div>

                                                <div class="field borded">
                                                    <div class="input"><input id="stadio" class=" formTextInput" placeholder="Stadio" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <!-- Time select -->
													<div class="input"><input id="orario" name="matchTime" class="timepicker matchDateOre formTextInput" placeholder="Inserisci Ora" type="text" >{{orario}}</div>
                                                    <!-- Time Select -->
                                                </div>                                        
                                            </div>
                                        </div>
                                        <div class="column-b borded"></div>
                                    </div>

                                </div>
                                <div class="layer-2 borded">
                                    <div class="layer-2-left borded">
                                        <div class="column-b borded"></div>
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Arbitro</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >AA 1</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >AA 2</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>                                        
                                            </div>
                                            <div class="content borded">
                                                <div class="field borded">
                                                    <div class="input"><input id="arbitro" class="ArbitroSezione formTextInput" placeholder="Arbitro" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="aa1" class="AA12Sezione formTextInput" placeholder="AA 1" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="aa2" class="AA12Sezione formTextInput" placeholder="AA 2" type="text" ></div>
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layer-2-right borded">
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                        <div class="griglia-1 form-field"><label class=" form-label " >Sezione</label></div>
                                                    </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Sezione</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Sezione</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>                                    
                                            </div>
                                            <div class="content borded">
                                                <div class="field borded">
                                                    <div class="input"><input id="sezioneArbitro" class="ArbitroSezione formTextInput" placeholder="Sezione" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="sezioneAa1" class="AA12Sezione formTextInput" placeholder="Sezione" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="sezioneAa2" class="AA12Sezione formTextInput" placeholder="Sezione" type="text" ></div>
                                                </div>                                        
                                            </div>

                                        </div>
                                        <div class="column-b borded"></div>
                                    </div>      
                                </div>
                                <div class="layer-3 borded">
                                    <div class="spaces borded"></div>   
                                    <div class="new-gara borded">

                                        <div class="griglia-4 borded">
                                            <div class="field borded">
                                                <div class="griglia-1 borded"></div>
                                                    <div class="griglia-1 borded">
                                                        <div class="nuova-visionatura borded"><a href="" class="btn btn1 btn2" id="newMatch">Nuova Visionatura</a>
                                                        </div>
                                                    </div>
                                                <div class="griglia-1 borded"></div>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="spaces borded"></div>   
                                </div>
                            </div>
                        </div>
<!--end creazione-->