<!-- Start creazione  -->
                        <div class="EpBodyTop">
                            <div class="wrapper borded">
                                <div class="layer-1 borded">
                                    <div class="layer-1-left borded">
                                        <div class="column-b borded"></div>
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                <div class="griglia-1"></div>
                                                <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label" >Locali</label></div>
                                                </div>
                                                <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                        <div class="griglia-1 form-field"><label class=" form-label" >Categoria</label></div>
                                                    </div>
                                                <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                        <div class="griglia-1 form-field"><label class=" form-label" >Giorno</label></div>
                                                    </div>
                                                <div class="griglia-1"></div>
                                                </div>                                        
                                            </div>

                                            <div class="content borded">

                                                <div class="field borded field-logo">
                                                    <div class="name input"><input id="locali" class="teamName form-textinput" placeholder="CHAOS" type="text"></div>
                                                    <div class="logo borded"><div class="coloreSquadra"></div></div>
                                                </div>
                                            
                                                <div class="field borded">
                                                    <div class="input"><input id="categoria" class=" form-textinput" placeholder="Categoria" type="text" ></div>
                                                </div>

                                                <div class="field borded">
                                                        <!-- Date Selector -->
															<div class="input"><input id="data" name="matchDate" class="matchDateOre form-textinput" placeholder="01/05/2014" type="text" ></div>
                                                        <!-- Date Selector -->
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="layer-1-right borded">
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Ospiti</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Campo</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1"></div>
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Ore</label></div>
                                                            <div class="griglia-1"></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>                                        
                                            </div>
                                            <div class="content borded">
                                                <div class="field borded field-logo">
                                                    <div class="name input"><input id="ospiti" class="teamName form-textinput" placeholder="Ospiti" type="text" ></div>
                                                    <div class="logo borded"><div class="coloreSquadra"></div></div>
                                                     
                                                </div>

                                                <div class="field borded">
                                                    <div class="input"><input id="stadio" class=" form-textinput" placeholder="Campo" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <!-- Time select -->
													<div class="input"><input id="orario" name="matchTime" class="matchDateOre form-textinput" placeholder="18:30" type="text" ></div>
                                                    <!-- Time Select -->
                                                </div>                                        
                                            </div>
                                        </div>
                                        <div class="column-b borded"></div>
                                    </div>

                                </div>
                                <div class="layer-2 borded">
                                    <div class="layer-2-left borded">
                                        <div class="column-b borded"></div>
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Arbitro</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >AA 1</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >AA 2</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>                                        
                                            </div>
                                            <div class="content borded">
                                                <div class="field borded">
                                                    <div class="input"><input id="arbitro" class="ArbitroSezione form-textinput" placeholder="Arbitro" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="aa1" class="AA12Sezione form-textinput" placeholder="AA 1" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="aa2" class="AA12Sezione form-textinput" placeholder="AA 2" type="text" ></div>
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layer-2-right borded">
                                        <div class="column-a borded">
                                            <div class="label borded">
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                        <div class="griglia-1 form-field"><label class=" form-label " >Sezione</label></div>
                                                    </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Sezione</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                            <div class="griglia-1 form-field"><label class=" form-label " >Sezione</label></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                </div>                                    
                                            </div>
                                            <div class="content borded">
                                                <div class="field borded">
                                                    <div class="input"><input id="sezioneArbitro" class="ArbitroSezione form-textinput" placeholder="Sezione" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="sezioneAa1" class="AA12Sezione form-textinput" placeholder="Sezione" type="text" ></div>
                                                </div>
                                                <div class="field borded">
                                                    <div class="input"><input id="sezioneAa2" class="AA12Sezione form-textinput" placeholder="Sezione" type="text" ></div>
                                                </div>                                        
                                            </div>

                                        </div>
                                        <div class="column-b borded"></div>
                                    </div>      
                                </div>
                                <div class="layer-3 borded">
                                    <div class="spaces borded"></div>   
                                    <div class="new-gara borded">

                                        <div class="griglia-4 borded">
                                            <div class="field borded">
                                                <div class="griglia-1 borded"></div>
                                                    <div class="griglia-1 borded">
                                                        <div class="nuova-visionatura borded"><a class="btn btn1 btn2" id="newMatch">Create New Visio</a>
                                                        </div>
                                                    </div>
                                                <div class="griglia-1 borded"></div>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="spaces borded"></div>   
                                </div>
                            </div>
                        </div>
<!--end creazione-->