            <!-- Inizio info gara -->
                            <div class="EpBodyTop">
                                <!-- Inizio parte PAOLO -->
                                <div class="wrapper borded">
                                    <!-- layer 1 -->
                                    <div class="layer-1 borded">
                                        <!-- layer 1 SX -->
                                        <div class="layer-1-left borded">
                                            <div class="column-b borded"></div>
                                            <div class="column-a borded">
                                                <div class="label borded">
                                                    <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                        <div class="griglia-1">
                                                                    <div class="griglia-4"></div>
                                                                    <div class="colore-squadra picker {{coloreOspiti}}"></div>
                                                                    <div class="griglia-4"></div>
                                                        </div>
                                                    <div class="griglia-1"></div>
                                                    </div>
                                                <div class="field borded"></div>
                                                <div class="field borded"></div>
                                                </div>
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{locali}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{categoria}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <!-- Date Selector -->
                                                            <div class="input"><div class="resocontoInfoText">{{data}}</div></div>
                                                        <!-- Date Selector -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- layer 1 DX-->
                                        <div class="layer-1-right borded">
                                            <div class="column-a borded">
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{ospiti}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{stadio}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                    <!-- hour Selector -->
                                                        <div class="input"><div class="resocontoInfoText">{{orario}}</div></div>
                                                    <!-- hour Selector -->
                                                    </div>                                        
                                                </div>
                                                <div class="label borded">
                                                    <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                                <div class="colore-squadra picker {{coloreLocali}} "></div>
                                                                <div class="griglia-4"></div>
                                                                <div class="griglia-4"></div>
                                                    </div>
                                                    <div class="griglia-1"></div>
                                                    </div>
                                                    <div class="field borded">
                                                    </div>
                                                    <div class="field borded">
                                                    </div>   
                                                </div>
                                            </div>
                                            <div class="column-b borded"></div>
                                        </div>
                                    </div>
                                    <!-- layer2 -->
                                    <div class="layer-2 borded">
                                        <!-- layer 2 SX -->
                                        <div class="layer-2-left borded">
                                            <div class="column-b borded"></div>
                                            <div class="column-a borded">
                                                <div class="label borded"></div>
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{arbitro}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{aa1}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{aa2}}</div></div>
                                                    </div>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <!-- layer 2 DX -->
                                        <div class="layer-2-right borded">
                                            <div class="column-a borded">
                                                
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{sezioneArbitro}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{sezioneAa1}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText">{{sezioneAa2}}</div></div>
                                                    </div>                                        
                                                </div>
                                                <div class="label borded"></div>
                                            </div>
                                            <div class="column-b borded"></div>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        <!-- fine parte PAOLO -->
                        <!--FOOTER-->
                <div class="EpBodyFooter">
                    <div class="container-button-bottom">
                        <div id="info-button" class="button-circular left-sel"></div>
                        <div id="statistic-button" class="button-circular right"></div>
                    </div>
                </div>
                        <!-- END FOOTER -->
            <!-- END info gara -->