<!-- ContainerRreStatistic -->
                <div class="EpBodyTop">
                 <div class="Res-Statistic">

                    <div class="Bar-Res-Sq">
                        <div class="Bar-Sq">
                            <div class="sq1-name">
                                <div class="generic-conteiner-color-sq">
                                    <div class="generic-color-sq left color-sq1"></div>
                                </div>
                                <div class="generic-congtainer-name-sq">
                                    <span id="sq1" class="left">{{locali}}</span>
                                </div>
                            </div>
                            <div class="spaces"></div>
                            <div class="sq2-name">
                                <div class="generic-congtainer-name-sq">
                                    <span id="sq2" class="right">{{ospiti}}</span>
                                </div>
                                <div class="generic-conteiner-color-sq">
                                    <div class="generic-color-sq right color-sq2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="Bar-Pul-Sq">
                            <div class="griglia-M"><span id="ammoniti1" class="left">Ammonizioni</span></div>
                            <div class="griglia-M"><span id="espulsi1" class="left">Espulsioni</span></div>
                            <div class="griglia-M"><span id="gol1" class="left">Gol</span></div>
                            <div class="griglia-M"><span id="falli1" class="left">Falli</span></div>
                            <div class="griglia-M"></div>
                            <div class="griglia-M"><span id="ammoniti2" class="right">Ammonizioni</span></div>
                            <div class="griglia-M"><span id="espulsi2" class="right">Espulsioni</span></div>
                            <div class="griglia-M"><span id="gol2" class="right">Gol</span></div>
                            <div class="griglia-M"><span id="falli2" class="right">Falli</span></div>
                        </div>
                    </div>


                     <div class="Body-Res-Sq">
                        <div class="Res-Box-left">
                            <div class="Res-Box-left-top">
                                <!--LISTA EVENTI-->
                                <div id="list-left" class="Specific-Category-List">
                                    <!-- ########## SINGOLO EVENTO ESPULSIONE ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>42' 2t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                    <div class="red-box"></div>
                                                    <div class="number-box">
                                                        <span>#20</span>
                                                    </div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Espulso</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO ESPULSIONE ##########-->

                                    <!--########## SINGOLO EVENTO AMMONIZIONE ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>35' 2t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                    <div class="yellow-box"></div>
                                                    <div class="number-box">
                                                        <span>#5</span>
                                                    </div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Ammonito</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO AMMONIZIONE ##########-->


                                    <!-- ########## SINGOLO EVENTO GOL ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>25' 2t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                    <div class="number-box ico-gol">&nbsp</div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Gol</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO GOL ##########-->


                                    <!-- ########## SINGOLO EVENTO GOL RIGORE ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>13' 1t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                <div class="griglia-M set-number">
                                                    <div class="gol-box"><b>R</b></div>
                                                    <div class="number-box ico-gol">&nbsp</div>
                                                </div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Gol</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO GOL RIGORE ##########-->

                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>

                                </div>
                                <!--FINE LISTA EVENTI-->

                            </div>
                            <div class="Res-Box-left-bottom">
                                <div class="Res-AA1">
                                    <div class="aa1-2">
                                        <div class="griglia-M">
                                        </div><div class="griglia-M">
                                        <span>AA1</span>
                                        </div><div class="griglia-M"></div>
                                    </div>
                                    <div class="result-aa1-2">
                                        <div class="correct">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div>
                                                    <div class="griglia-M">
                                                        <span id="trueAA1T1">{{aa1Giuste}}</span>
                                                    </div>
                                                <div class="griglia-M">
                                                    <span class="f-tempo">1T</span>
                                                </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div>
                                                    <div class="griglia-M">
                                                        <span id="falseAA1T1">{{aa1Sbagliate}}</span>
                                                    </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="trueAA1T2">{{aa1Giuste2}}</span>
                                            </div>
                                            <div class="griglia-M">
                                                <span class="f-tempo">2T</span>
                                            </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="falseAA1T2">{{aa1Sbagliate2}}</span>
                                                </div><div class="griglia-M"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="aa1-2-icon">
                                        <div class="correct">
                                            <div class="left-correct">
                                            </div>
                                            <div class="right-wrong"></div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct"></div>
                                            <div class="right-wrong"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="Res-AA2">

                                    <div class="aa1-2">
                                        <div class="griglia-M"></div>
                                        <div class="griglia-M">
                                        <span>AA2</span>
                                        </div><div class="griglia-M"></div>
                                    </div>
                                    <div class="result-aa1-2">
                                        <div class="correct">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="trueAA2T1">{{aa2Giuste}}</span>
                                                </div>
                                                <div class="griglia-M">
                                                    <span class="f-tempo">1T</span>
                                                </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="falseAA2T1">{{aa2Sbagliate}}</span>
                                                </div><div class="griglia-M"></div>
                                            </div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="trueAA2T2">{{aa2Giuste2}}</span>
                                            </div>
                                            <div class="griglia-M">
                                                <span class="f-tempo">2T</span>
                                            </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="falseAA2T2">{{aa2Sbagliate2}}</span>
                                                </div><div class="griglia-M"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="aa1-2-icon">
                                        <div class="correct">
                                            <div class="left-correct">
                                            </div>
                                            <div class="right-wrong"></div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct"></div>
                                            <div class="right-wrong"></div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="Res-Box-right">
                            <div class="Res-Box-right-top">
                                <!--LISTA EVENTI-->
                                <div id="list-right" class="Specific-Category-List">
                                    <!-- ########## SINGOLO EVENTO ESPULSIONE ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>42' 2t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                    <div class="red-box"></div>
                                                    <div class="number-box">
                                                        <span>#20</span>
                                                    </div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Espulso</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO ESPULSIONE ##########-->

                                    <!--########## SINGOLO EVENTO AMMONIZIONE ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>35' 2t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                    <div class="yellow-box"></div>
                                                    <div class="number-box">
                                                        <span>#5</span>
                                                    </div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Ammonito</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO AMMONIZIONE ##########-->


                                    <!-- ########## SINGOLO EVENTO GOL ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>25' 2t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                    <div class="number-box ico-gol">&nbsp</div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Gol</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO GOL ##########-->


                                    <!-- ########## SINGOLO EVENTO GOL RIGORE ##########-->
                                    <div class="Category-Event">
                                        <div class="time">
                                            <div class="griglia-M"></div>
                                            <div class="griglia-M set-time">
                                                <div class="time-box"><span>13' 1t</span></div>
                                            </div>
                                            <div class="griglia-M"></div>
                                        </div>
                                            <div class="number">
                                                <div class="griglia-M"></div>
                                                <div class="griglia-M set-number">
                                                <div class="griglia-M set-number">
                                                    <div class="gol-box"><b>R</b></div>
                                                    <div class="number-box ico-gol">&nbsp</div>
                                                </div>
                                                </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                                <div class="description">
                                                    <div class="griglia-M"></div>
                                                    <div class="griglia-M set-description">
                                                        <div class="description-box"><span>Gol</span></div>
                                                    </div>
                                                    <div class="griglia-M"></div>
                                                </div>
                                    </div>
                                    <!--########## FINE SINGOLO EVENTO GOL RIGORE ##########-->

                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>
                                    <div class="Category-Event"></div>

                                </div>
                                <!--FINE LISTA EVENTI-->


                            <!--INIZIO CAMPO INCREMENTA DECREMENTA FALLI-->
                                <!--<div class="spaces"></div>
                                <div class="Res-Fal-PM">
                                    <div class="dec-fal">
                                        <div class="spaces-generic"></div>
                                        <div class="spaces-dec">
                                            <div class="ico-fal-dec circular-button-inc-dec"></div>
                                        </div>
                                    </div>
                                    <div class="total-fal">
                                        <span>11</span>

                                    </div>
                                    <div class="inc-fal">
                                        <div class="spaces-inc"></div>
                                        <div class="spaces-generic">
                                            <div class="ico-fal-inc circular-button-inc-dec"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="spaces"></div>-->
                            <!--INIZIO CAMPO INCREMENTA DECREMENTA FALLI-->
                            </div>
                            <div class="Res-Box-right-bottom">
                                <div class="Res-Barella">
                                    <div class="title">
                                        <div class="griglia-M backgroundM">
                                            <span>BARELLA</span>
                                        </div>
                                    </div>
                                    <div class="body-table">
                                        <div class="griglia-M"></div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">#<b id="barella1T">{{barella1}}</b> - 1T</span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">#<b id="barella2T">{{barella2}}</b> - 2T</span>
                                        </div>
                                        <div class="griglia-M"></div>
                                    </div>


                                </div>
                                <div class="Res-1t">
                                    <div class="title">
                                        <div class="griglia-M backgroundM">
                                            <span>1T</span>
                                        </div>
                                    </div>
                                    <div class="body-table">
                                        <div class="griglia-M">
                                            <span class="generic-dat">INIZIO <b id="inizio1T">{{inizio}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">FINE <b id="fine1T">{{fine}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Seg. #<b id="RecuperoSegnalato1T">{{RecuperoSegnalato1T}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Eff. #<b id="RecuperoEffettivo1T">{{RecuperoEffettivo1T}}</b></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="Res-2t">
                                    <div class="title">
                                        <div class="griglia-M backgroundM">
                                            <span>2T</span>
                                        </div>
                                    </div>
                                    <div class="body-table">
                                        <div class="griglia-M">
                                            <span class="generic-dat">INIZIO <b id="inizio2T">{{inizio2}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">FINE <b id="fine2T">{{fine2}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Seg. #<b id="RecuperoSegnalato2T">{{RecuperoSegnalato2T}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Eff. #<b id="RecuperoEffettivo2T">{{RecuperoEffettivo2T}}</b></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                     </div>

                 </div>
                </div>


                <div class="EpBodyFooter">
                    <div class="container-button-bottom">
                        <div class="button-circular left"></div>
                        <div class="button-circular center"></div>
                        <div class="button-circular right"></div>
                    </div>
                </div>
<!-- END ContainerRreStatistic -->
