            <!-- Inizio info gara -->
                            <div class="EpBodyTop">
                                <!-- Inizio parte PAOLO -->
                                <div class="wrapper borded">
                                    <!-- layer 1 -->
                                    <div class="layer-1 borded">
                                        <!-- layer 1 SX -->
                                        <div class="layer-1-left borded">
                                            <div class="column-b borded"></div>
                                            <div class="column-a borded">
                                                <div class="label borded">
                                        <div class="field borded">
                                        <div class="griglia-1"></div>
                                        <div class="griglia-1">
                                                    <div class="griglia-4"></div>
                                                    <div class="colore-squadra-1"></div>
                                                    <div class="griglia-4"></div>
                                        </div>
                                        <div class="griglia-1"></div>
                                        </div>
                                        <div class="field borded">
                                        </div>
                                        <div class="field borded">
                                        </div>
                                                </div>
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Locali" type="text" disabled="true">{{locali}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Categoria" type="text" disabled="true">{{categoria}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <!-- Date Selector -->
                                                            <div class="input"><div class="resocontoInfoText" placeholder="15/5/15" type="text" disabled="true">{{data}}</div></div>
                                                        <!-- Date Selector -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- layer 1 DX-->
                                        <div class="layer-1-right borded">
                                            <div class="column-a borded">
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Ospiti" type="text" disabled="true">{{ospiti}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Campo" type="text" disabled="true">{{campo}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                    <!-- hour Selector -->
                                                        <div class="input"><div class="resocontoInfoText" placeholder="10:30" type="text" disabled="true">{{orario}}</div></div>
                                                    <!-- hour Selector -->
                                                    </div>                                        
                                                </div>
                                                <div class="label borded">
                                                    <div class="field borded">
                                                    <div class="griglia-1"></div>
                                                    <div class="griglia-1">
                                                                <div class="colore-squadra-2 borded"></div>
                                                                <div class="griglia-4"></div>
                                                                <div class="griglia-4"></div>
                                                    </div>
                                                    <div class="griglia-1"></div>
                                                    </div>
                                                    <div class="field borded">
                                                    </div>
                                                    <div class="field borded">
                                                    </div>   
                                                </div>
                                            </div>
                                            <div class="column-b borded"></div>
                                        </div>
                                    </div>
                                    <!-- layer2 -->
                                    <div class="layer-2 borded">
                                        <!-- layer 2 SX -->
                                        <div class="layer-2-left borded">
                                            <div class="column-b borded"></div>
                                            <div class="column-a borded">
                                                <div class="label borded"></div>
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Arbitro" type="text" disabled="true">{{arbitro}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="AA 1" type="text" disabled="true">{{aa1}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="AA 2" type="text" disabled="true">{{aa2}}</div></div>
                                                    </div>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <!-- layer 2 DX -->
                                        <div class="layer-2-right borded">
                                            <div class="column-a borded">
                                                
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Sezione" type="text" disabled="true">{{sezioneArbitro}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Sezione" type="text" disabled="true">{{sezioneAa1}}</div></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><div class="resocontoInfoText" placeholder="Sezione" type="text" disabled="true">{{sezioneAa2}}</div></div>
                                                    </div>                                        
                                                </div>
                                                <div class="label borded"></div>
                                            </div>
                                            <div class="column-b borded"></div>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        <!-- fine parte PAOLO -->
                        <!--FOOTER-->
                <div class="EpBodyFooter">
                    <div class="container-button-bottom">
                        <div id="info-button" class="button-circular left-sel"></div>
                        <div id="statistic-button" class="button-circular right"></div>
                    </div>
                </div>
                        <!-- END FOOTER -->
            <!-- END info gara -->