<!-- ContainerRreStatistic -->
                <div class="EpBodyTop">
                 <div class="Res-Statistic">

                    <div class="Bar-Res-Sq">
                        <div class="Bar-Sq">
                            <div class="sq1-name">
                                <div class="generic-conteiner-color-sq">
                                    <div class="generic-color-sq left color-sq1"></div>
                                </div>
                                <div class="generic-congtainer-name-sq">
                                    <span id="sq1" class="left">{{locali}}</span>
                                </div>
                            </div>
                            <div class="spaces"></div>
                            <div class="sq2-name">
                                <div class="generic-congtainer-name-sq">
                                    <span id="sq2" class="right">{{ospiti}}</span>
                                </div>
                                <div class="generic-conteiner-color-sq">
                                    <div class="generic-color-sq right color-sq2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="Bar-Pul-Sq">
                            <div class="griglia-M"><span id="ammoniti1" class="left active-buttonResStatistic">Ammonizioni</span></div>
                            <div class="griglia-M"><span id="espulsi1" class="left">Espulsioni</span></div>
                            <div class="griglia-M"><span id="gol1" class="left">Gol</span></div>
                            <div class="griglia-M"><span id="falli1" class="left">Falli</span></div>
                            <div class="griglia-M"></div>
                            <div class="griglia-M"><span id="ammoniti2" class="right active-buttonResStatistic">Ammonizioni</span></div>
                            <div class="griglia-M"><span id="espulsi2" class="right">Espulsioni</span></div>
                            <div class="griglia-M"><span id="gol2" class="right">Gol</span></div>
                            <div class="griglia-M"><span id="falli2" class="right">Falli</span></div>
                        </div>
                    </div>


                     <div class="Body-Res-Sq">
                        <div class="Res-Box-left">
                            <div class="Res-Box-left-top">
                                <!--LISTA EVENTI-->
                                <div id="list-left" class="Specific-Category-List">
                                    <!--Lista-->
                                </div>
                                <!--FINE LISTA EVENTI-->

                            </div>
                            <div class="Res-Box-left-bottom">
                                <div class="Res-AA1">
                                    <div class="aa1-2">
                                        <div class="griglia-M">
                                        </div><div class="griglia-M">
                                        <span>AA1</span>
                                        </div><div class="griglia-M"></div>
                                    </div>
                                    <div class="result-aa1-2">
                                        <div class="correct">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div>
                                                    <div class="griglia-M">
                                                        <span id="trueAA1T1"></span>
                                                    </div>
                                                <div class="griglia-M">
                                                    <span class="f-tempo">1T</span>
                                                </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div>
                                                    <div class="griglia-M">
                                                        <span id="falseAA1T1"></span>
                                                    </div>
                                                <div class="griglia-M"></div>
                                            </div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="trueAA1T2"></span>
                                            </div>
                                            <div class="griglia-M">
                                                <span class="f-tempo">2T</span>
                                            </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="falseAA1T2"></span>
                                                </div><div class="griglia-M"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="aa1-2-icon">
                                        <div class="correct">
                                            <div class="left-correct">
                                            </div>
                                            <div class="right-wrong"></div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct"></div>
                                            <div class="right-wrong"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="Res-AA2">

                                    <div class="aa1-2">
                                        <div class="griglia-M"></div>
                                        <div class="griglia-M">
                                        <span>AA2</span>
                                        </div><div class="griglia-M"></div>
                                    </div>
                                    <div class="result-aa1-2">
                                        <div class="correct">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="trueAA2T1"></span>
                                                </div>
                                                <div class="griglia-M">
                                                    <span class="f-tempo">1T</span>
                                                </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="falseAA2T1"></span>
                                                </div><div class="griglia-M"></div>
                                            </div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="trueAA2T2"></span>
                                            </div>
                                            <div class="griglia-M">
                                                <span class="f-tempo">2T</span>
                                            </div>
                                            </div>
                                            <div class="right-wrong">
                                                <div class="griglia-M"></div><div class="griglia-M">
                                                <span id="falseAA2T2"></span>
                                                </div><div class="griglia-M"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="aa1-2-icon">
                                        <div class="correct">
                                            <div class="left-correct">
                                            </div>
                                            <div class="right-wrong"></div>
                                        </div>
                                        <div class="wrong">
                                            <div class="left-correct"></div>
                                            <div class="right-wrong"></div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="Res-Box-right">
                            <div class="Res-Box-right-top">
                                <!--LISTA EVENTI-->
                                <div id="list-right" class="Specific-Category-List">
                                    <!--Lista-->
                                </div>
                            </div>
                            <div class="Res-Box-right-bottom">
                                <div class="Res-Barella">
                                    <div class="title">
                                        <div class="griglia-M backgroundM">
                                            <span>BARELLA</span>
                                        </div>
                                    </div>
                                    <div class="body-table">
                                        <div class="griglia-M"></div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">#<b id="barella1T"></b> - 1T</span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">#<b id="barella2T"></b> - 2T</span>
                                        </div>
                                        <div class="griglia-M"></div>
                                    </div>


                                </div>
                                <div class="Res-1t">
                                    <div class="title">
                                        <div class="griglia-M backgroundM">
                                            <span>1T</span>
                                        </div>
                                    </div>
                                    <div class="body-table">
                                        <div class="griglia-M">
                                            <span class="generic-dat">INIZIO <b id="inizio1T">{{inizio}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">FINE <b id="fine1T">{{fine}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Seg. #<b id="RecuperoSegnalato1T">{{RecuperoSegnalato1T}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Eff. #<b id="RecuperoEffettivo1T">{{RecuperoEffettivo1T}}</b></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="Res-2t">
                                    <div class="title">
                                        <div class="griglia-M backgroundM">
                                            <span>2T</span>
                                        </div>
                                    </div>
                                    <div class="body-table">
                                        <div class="griglia-M">
                                            <span class="generic-dat">INIZIO <b id="inizio2T">{{inizio2}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">FINE <b id="fine2T">{{fine2}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Seg. #<b id="RecuperoSegnalato2T">{{RecuperoSegnalato2T}}</b></span>
                                        </div>
                                        <div class="griglia-M">
                                            <span class="generic-dat">Rec. Eff. #<b id="RecuperoEffettivo2T">{{RecuperoEffettivo2T}}</b></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                     </div>

                 </div>
                </div>


                <div class="EpBodyFooter">
                    <div class="container-button-bottom">
                        <div id="info-button" class="button-circular left"></div>
                        <div id="statistic-button" class="button-circular right-sel"></div>
                    </div>
                </div>
<!-- END ContainerRreStatistic -->
