            <!-- Inizio info gara -->
                            <div class="EpBodyTop">
                                <!-- Inizio parte PAOLO -->
                                <div class="wrapper borded">
                                    <!-- layer 1 -->
                                    <div class="layer-1 borded">
                                        <!-- layer 1 SX -->
                                        <div class="layer-1-left borded">
                                            <div class="column-b borded"></div>
                                            <div class="column-a borded">
                                                <div class="label borded">
																<div class="griglia-1"></div>
                                                                <div class="colore-squadra-1"></div>
                                                                <div class="griglia-4"></div>                                        
                                                </div>
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Locali" type="text">{{locali}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Categoria" type="text">{{categoria}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <!-- Date Selector -->
                                                            <div class="input"><textarea class="form-textinput" placeholder="15/5/15" type="text">{{data}}</textarea></div>
                                                        <!-- Date Selector -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- layer 1 DX-->
                                        <div class="layer-1-right borded">
                                            <div class="column-a borded">
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Ospiti" type="text">{{ospiti}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Campo" type="text">{{campo}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                    <!-- hour Selector -->
                                                        <div class="input"><textarea class="form-textinput" placeholder="10:30" type="text">{{orario}}</textarea></div>
                                                    <!-- hour Selector -->
                                                    </div>                                        
                                                </div>
                                                <div class="label borded">
                                                    <div class="label borded">
													<div class="griglia-4"></div>
                                                    <div class="colore-squadra-2"></div>
                                                    <div class="griglia-1"></div>                                        
                                                </div>                                     
                                                </div>
                                            </div>
                                            <div class="column-b borded"></div>
                                        </div>
                                    </div>
                                    <!-- layer2 -->
                                    <div class="layer-2 borded">
                                        <!-- layer 2 SX -->
                                        <div class="layer-2-left borded">
                                            <div class="column-b borded"></div>
                                            <div class="column-a borded">
                                                <div class="label borded"></div>
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Arbitro" type="text">{{arbitro}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="AA 1" type="text">{{aa1}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="AA 2" type="text">{{aa2}}</textarea></div>
                                                    </div>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <!-- layer 2 DX -->
                                        <div class="layer-2-right borded">
                                            <div class="column-a borded">
                                                
                                                <div class="content borded">
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Sezione" type="text">{{sezioneArbitro}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Sezione" type="text">{{sezioneAa1}}</textarea></div>
                                                    </div>
                                                    <div class="field borded">
                                                        <div class="input"><textarea class="form-textinput" placeholder="Sezione" type="text">{{sezioneAa2}}</textarea></div>
                                                    </div>                                        
                                                </div>
                                                <div class="label borded"></div>
                                            </div>
                                            <div class="column-b borded"></div>
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        <!-- fine parte PAOLO -->
                        <!--FOOTER-->
                <div class="EpBodyFooter">
                    <div class="container-button-bottom">
                        <div id="info-button" class="button-circular left-sel"></div>
                        <div id="statistic-button" class="button-circular right"></div>
                    </div>
                </div>
                        <!-- END FOOTER -->
            <!-- END info gara -->