            <div class="tools-l">
            </div>

            <div class="pith">

                <div class="top">
                </div>

                <div class="bottom">

                    <div class="wrap_events">

                        <div class="events">

                            <div class="event">
                                <div>

                                    <div class="icon">
                                        <div class="redcard"></div>
                                    </div>

                                    <div class="icon">
                                        24'
                                    </div>
                                    <div class="icon">
                                        <div class="color"></div>
                                    </div>
                                    <div class="descr">
                                        <span>
                                            <img src="img/entra.png" />#15
                                            <img src="img/esce.png" />#15
                                        </span>


                                    </div>


                                </div>

                            </div>

                            <div class="event">
                                <div>

                                    <div class="icon">
                                        <img src="img/sostituzioni.png" />
                                    </div>

                                    <div class="icon">
                                        24'
                                    </div>
                                    <div class="icon">
                                        <div class="color"></div>
                                    </div>
                                    <div class="descr">
                                        <span>
                                            <img src="img/entra.png" />#15
                                            <img src="img/esce.png" />#15
                                        </span>


                                    </div>


                                </div>

                            </div>
                            <div class="event">
                                <div>

                                    <div class="icon">
                                        <img src="img/sleep2.png">
                                    </div>

                                    <div class="icon">
                                        24'
                                    </div>
                                    <div class="icon">
                                        <div class="color"></div>
                                    </div>
                                    <div class="descr">
                                        <span>
                                            <img src="img/entra.png" />#15
                                            <img src="img/esce.png" />#15
                                        </span>


                                    </div>


                                </div>

                            </div>
                            <div class="event"></div>
                            <div class="event"></div>
                            <div class="event"></div>
                            <div class="event"></div>
                            <div class="event"></div>
                            <div class="event"></div>
                            <div class="event"></div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="tools-r">
            </div>


            <div class="info">

                <form>

                    <fieldset>
                        <input>
                        <input>
                        <input>
                        <input>
                        <input>

                    </fieldset>
                    <fieldset></fieldset>

                </form>

            </div>
